@import "vars"


@media only screen and (max-width: 1370px)
  .main-home
    padding: 250px 0 158px

  footer
    padding: 45px 0 28px


@media only screen and (max-width: 1199px)
  .franchise-box
    width: 280px
    height: 254px
    .image
      height: 176px
      margin: 0 auto
    a
      padding: 15px 20px 10px

  .franchise-choice, .stages-school__list, .cosmetics-box__max
    max-width: none
    width: calc(100% - 315px)

  .stages-school__list p:before
    width: 60px

  .top-breeds__slider
    max-width: none

  .top-breeds
    padding: 50px 0 52px
    .box-title
      margin: 0 0 50px
      max-width: none
      justify-content: center
      align-items: center
      text-align: center
    .links
      text-align: center
      justify-content: center

  .hashtag-list .dropdown-menu
    .text
      white-space: normal

  .price-table .name-services
    width: 170px
    padding: 0

  .price-table .table-line .price-it, .price-table .weight
    width: 110px

  .price-table .table-line .price-it__two, .price-table .weight-two
    width: 160px

  .price-table .table-line .price-it__three
    width: 100px

  .nav-link
    font-size: 12px


@media only screen and (max-width: 992px)
  .footer-menu li a
    font-size: 12px

  footer .btn
    padding: 11px 7px
    font-size: 12px

  .franchise-choice, .stages-school__list, .cosmetics-box__max
    width: 100%

  .stages-school__wrapper .btn
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(-50%,0)

  .stages-school__list
    margin: 0 0 89px

  .menu-section li:last-child
    margin: 0 0 19px

  .cosmetics-box__max
    margin: 46px 0 0
    h5
      margin: 0 auto

  .lookbook-content
    width: 100%
    padding: 0
    margin: 0 0 216px

  .lookbook-slider__wrapper
    min-width: auto

  .lookbook-wrapper
    flex-wrap: wrap

  .lookbook-slider
    width: 286px

  .lookbook-box
    height: 256px
    .name-services
      max-width: 150px

  .lookbook
    .form-search__wrapper
      margin: 0 0 50px
    .box-title
      max-width: none
      text-align: center
      margin: 0
      p
        margin: 33px auto 0

  .lookbook-item
    margin: 0 0 50px
    width: 100%

  .sing-up
    position: absolute
    bottom: 40px
    left: 50%
    transform: translate(-50%,0)
    h4
      text-align: center

  .services-price
    width: 100%
    padding: 0
    margin: 49px 0 0 0

  .services
    padding: 48px 0 0
    .services-box
      width: 100%
      justify-content: center
      text-align: center
    .price-icon
      text-align: left

  .banner-box
    margin: 52px auto 0
    text-align: left

  .price-icon
    margin: 37px auto 29px

  .menu .nav-item
    margin: 0 15px 0 0

  header
    .btn-border
      font-size: 12px
      padding: 0 5px
    .phone
      font-size: 14px


@media only screen and (max-width: 820px)
  .nav-link
    font-size: 11px

@media only screen and (max-width: 768px)
  footer .logo
    justify-content: center
    align-items: center

  footer .logo-text
    max-width: none
    width: 100%
    margin: 30px auto 0

  footer .logo-desc
    margin: 0 auto
    max-width: none
    width: 100%
    text-align: center

  .copyright
    margin: 30px 0 0 0

  .franchise-choice
    flex-direction: column
    align-items: center
    h5
      margin: 19px auto

  .franchise
    padding: 51px 0 50px

  .stages-school
    padding: 52px 0 47px

  .logo-section .icon
    margin: 0 20px 0 0

  .stages-school__list p:before
    width: 56px
    left: 95%

  .instruction-order
    h6
      width: 100%
      text-align: center
      margin: 0 auto 49px

  .instruction-order__box
    font-size: 16px
    flex-direction: column
    align-items: center
    .text
      margin: 9px auto 0
      text-align: center
      max-width: 125px

  .section-social
    padding: 50px 0 0
    text-align: center
    .list-social
      justify-content: center
      margin: 58px auto 47px
    .img-phone
      margin: 0 auto -140px

  .section-contacts .container
    padding: 49px 15px

  .location-info
    width: 270px

  .lookbook-slider__wrapper
    justify-content: center

  .lookbook
    margin: 20px 0 0

  .dropdown-menu
    right: 0

  .price-table
    .table-line
      .name-services
        width: 100%
        padding: 0
        margin: 0 0 29px
        font-size: 16px


  .price-table .weight
    width: 70%
    font-size: 16px
    font-family: $bold
    margin: 0 0 30px

  .price-table .table-line
    margin: 0
    .price-it
      padding: 0
      width: 100px
      margin: 0 0 29px auto
      
  header
    padding: 41px 0 0

  .icon-mobile-wrapper
    display: flex
    align-items: center
    position: absolute
    left: 10px
    z-index: 7
    top: 0
    .link
      width: 40px
      height: 69px
      background: url("../img/bg-icon.png") no-repeat center
        size: cover
      display: flex
      align-items: center
      justify-content: center
      margin: 0 5px 0 0
      &:last-child
        margin: 0

  .btn-burger
    display: flex
    flex-direction: column
    align-items: center
    position: absolute
    right: 20px
    top: 20px
    z-index: 1
    cursor: pointer
    span
      display: block
      margin: 0 0 5px
      width: 30px
      height: 4px
      background-color: #000000
      &:last-child
        margin: 0

  h1
    font-size: 36px
    max-width: 195px
    letter-spacing: 1.43px
    margin: 0 auto 40px

  .main-home
    padding: 180px 0 60px
    .button-group
      flex-direction: column
      align-items: center
      .btn
        width: 174px
        margin: 0 auto 10px
        padding: 0 10px
      a
        width: 174px
        padding: 0 10px

@media only screen and (max-width: 576px)
  footer
    padding: 39px 0 32px
    .logo-text
      margin: 25px auto 0

  .stages-school__list
    flex-direction: column
    align-items: center
    p
      padding: 0 0 75px
      margin: 0 0 19px
      text-align: center
      &:last-child
        padding: 0
        margin: 0
      &:before
        left: 50%
        transform: translate(-50%,0)
        bottom: 0
        top: auto
        width: 2px
        height: 56px

  h2
    font-size: 36px
    line-height: 40px

  .record-service
    padding: 50px 0
    h2
      margin: 0 auto 22px

  .cosmetics
    padding: 50px 0

  .cosmetics-box__max
    .image
      margin: 27px auto 49px
    h5
      text-align: center

  .instruction-order__box
    width: 100%
    margin: 0 auto 50px
    &:last-child
      margin: 0

  .top-breeds__slider
    padding: 0
    min-width: 600px
    margin: 0 -40px 0 0

  .section-contacts
    display: flex
    flex-direction: column-reverse
    .container
      min-height: auto
      padding: 49px 15px 25px
    .box-title
      margin: 0 auto
      text-align: center
    .icon-location1
      top: 100px
      left: 100px
    .icon-location2
      left: 15px
      bottom: 40px
    .icon-location3
      right: 73px
      top: 190px
      left: auto

  .maps
    position: relative
    height: 500px

  .hashtag-list
    justify-content: flex-start

  .hashtag-item
    margin: 0 2px 2px 0

  .form-search__wrapper
    flex-wrap: wrap
    .form-search
      max-width: 138px

  .dropdown-item
    .text
      white-space: normal

  .hashtag-list .dropdown-item
    padding: 15px 12px 0
    font-size: 14px

  .price-table .table-line
    padding: 28px 18px 0
    &:nth-child(odd)
      background-color: rgba(#a8a8a8, .1)
    .form-search__wrapper
      margin: 22px 0 47px

  .search-city
    padding: 0 15px
    margin: 0 0 40px
    .form-search
      width: 100%
      max-width: none
      margin: 16px 0 0

  .services
    .container
      padding: 0

  .form-search__wrapper h4
    font-size: 14px

  .form-result
    min-width: 290px
    width: 290px
    position: absolute
    right: -4px
    top: 100%
    z-index: 2
    .dropdown-item
      font-family: $default
      padding-right: 37px


  .form-search
    position: relative

  input, textarea, select, .hashtag-list li .dropdown-toggle
    font-size: 14px

  .price-table .weight
    width: calc(100% - 100px)

  .btn
    font-size: 14px

  .main-home
    background-position: 65% center

  .modal-callback .modal-dialog .close
    right: 20px
    width: 30px
    height: 30px


@media only screen and (max-width: 320px)
  /**/


@media only screen and (max-width: 1200px)
  /**/


@media only screen and (max-width: 992px)
  /**/


@media only screen and (max-width: 768px)
  /**/


@media only screen and (max-width: 480px)
  /**/


@media only screen and (max-width: 320px)
  /**/
